body{
    background-image: url(Felt.jpg);
    background-size: cover;
  }

  #dealer-hand {
    background-color: black;
    opacity: 60%;
    width: 70%;
    height: 200px;
    margin-bottom: 100px;
    border: black;
    padding: 20px;
    border: 100px
    /* background-color: rgba(3, 209, 30, 0.6); */
    /* background-color: hsla(155, 91%, 44%, 0.6); */
  }

  #dealer-hand img {
    background-color: gold;
    opacity: 100%;
    padding: 10px;
    margin: 20px;
  }

  .bets {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 100px;
    flex-direction: column;
    margin: 5px;
  }

  #table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
  }

  #player-hand {
    background-color: black;
    opacity: 60%;
    width: 70%;
    height: 200px;
    margin-bottom: 200px;
    border: black;
    padding: 20px;
    border: 100px
  }

  #player-hand img {
    background-color: gold;
    opacity: 100%;
    padding: 10px;
    margin: 20px;
  }

  .buttons {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px;
    height: 100px;
    width: auto;
    border-radius: 12px;
  }

  /* .buttons:active {
	position:relative;
    top:1px;
    
} */
  .buttons button {
    background-color:transparent;
	border-radius:42px;
	border:12px solid #0e0f0d;
	display:inline-block;
	cursor:pointer;
	color:#050405;
	font-family:Arial;
	font-size:28px;
	font-weight: 700;
	padding:16px 13px;
	text-decoration:none;
    }

    .buttons2 {
        display: flex;
        cursor: pointer;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: 30px;
        height: 100px;
        width: auto;
        border-radius: 12px;
      }
    
      .buttons2 button {
        background-color:transparent;
        border-radius:42px;
        border:12px solid #0e0f0d;
        display:inline-block;
        cursor:pointer;
        color:#050405;
        font-family:Arial;
        font-size:28px;
        font-weight: 700;
        padding:16px 13px;
        text-decoration:none;
        }

    .bank {
        background-color: black;
        opacity: 60%;
        height: 50px;
        width: 200px;
        font-size: 40px;

    }

    img:hover {
        /* Start the shake animation and make the animation last for 0.5 seconds */
        animation: shake 0.5s;
      
        /* When the animation is finished, start again */
        animation-iteration-count: infinite;
      }
      
      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  .alert.success {
    background-color: #4caf50;
  }
  .alert.info {
    background-color: #2196f3;
  }
  .alert.warning {
    background-color: #ff9800;
  }
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }