.body-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    background-color: rgb(158, 44, 15);
  /*   padding: 40px; */
  }
  
  .nav-item {
    background-color: black;
    display: block; 
    padding: 10px;
    width: 100px;
    /* height: 200px; */
  }
  .nav-item2 {
    background-color: white;
    display: block; 
    padding: 10px;
    width: 100px;
  }
  /* 
  Proportionally adapt image to its container.
  That is, assume container controls the actual size.
  */
  img {
    width: 100%;
  }
  
  .content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-image {
    display: block;
    height: 200;
  }
  
  .nav-item:hover {
    background: white;
 }

  /* .nav-item:active {
    background: white;
 } */