<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    New Dish

    <form action = "/newdish" method="POST">

        title: <input type="text" name="title" placeholder="title"><br>

        description: <input type="text" name="description" placeholder="description"><br>

        price: <input type="text" name="price" placeholder="price"><br>

        imageURL: <input type="text" name="imageURL" placeholder="image URL">

        <input
    </form>
</body>
</html>